[submodule "Fe-with-react"]
	path = Fe-with-react
	url = https://github.com/anhtudo97/mern-fe
[submodule "Be-with-nestjs-mysql"]
	path = Be-with-nestjs-mysql
	url = https://github.com/anhtudo97/mern-be-cars-nestjs
